body{
    background-image: url(../img/fundo.png);
    background-repeat: repeat-x;
    font-family: Arial, Tahoma;
    font-size: 14px;
}
#container{
    width: 1000px;
    margin: auto;
    height: auto;
    margin-top: 150px;
}
#container .logo{
    background-image: url(../img/imagensB.png);
    margin: -90px 0px 0px 30px;
    width: 170px;
    height: 154px;
    background-position: 183px 249px;
    background-size: 405%;
    float: left;
}
.cabecalho{
    background-color: #313131;
    border: 1px solid #313131;
    height: 61px;
    width: 100%;
}
.cabecalho ul{
    float: right;
    margin-right: 20px;
}
.cabecalho ul li {
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    
}
.cabecalho a{
    color: #919191;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 40px;
    text-decoration: none;
}
.banner{
    background-image: url(../img/banner.png);
    width: 100%;
    height: 410px;
    background-size: cover;
    background-position: 1001px 0px;
    border: 1px solid #313131;
}
.produtos{
    width: 104%;
    margin: 0 auto;
    height: auto;
}
.produtos h3{
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px 0px 15px 20px;
}
.produtos .box{
    width: 240px;
    height: auto;
    border: 1px solid #313131;
    display: inline-block;
    background-color: white;
    margin-right: 7px;
}
.imgPosicao-2{background-position: 383px 0px;}
.imgPosicao-3{background-position: 256px 0px;}
.imgPosicao-4{background-position: 136px 0px;}

.produtos .imgProd{
    margin: auto;
    width: calc(50%);
    height: 170px;
    background-size: cover;
    margin-top: 20px;
    background-image: url(../img/imagensA.png);
}
.produtos p{
    color: #919191;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 19px;
}
.produtos .destaque{
    color: red;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.servicos{
    margin-top: 10px;
    clear: both;
}
.servicos h3{
    color: #313131;
    text-transform: uppercase;
    font-size: 25px;    
    margin: 15px 0px 0px 15px;
}
.servicos h4{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5px
}
.servicos .servico-1{
    float: left;
    width: 50%;
}
.servicos .servico-2{
    float: left;
    width: 50%;
}
.imagemB{
    width: 100%;
    height: 102px;
    background-size: 144%;
    background-image: url(../img/imagensB.png);
}
.servico-1 .pos1{
    background-position: 692px 157px;
}
.servico-2 .pos2{background-position: 697px 260px;}

.servicos p{
    margin: 20px 15px;
    font-weight: bold;
    display: block;
}
.rodape{
    width: 100%;
    height: auto;
    background-color: #313131;
    display: inline-block;
    margin-top: 40px;
    
}
.redesocial ul{    margin-top: 5px;
    margin-bottom: 0px;
}
.redesocial ul li{
    display: inline-block;
}
.rodape p{
    float: left;
    color: #919191;
    margin-left: 20px;
    margin-top: 5px;
    margin-top: 20px;
}
.rodape .redesocial{
    float: right;
    margin-right: 10px;
}
.redesocial .imagemB{
    width: 50px;
    height: 50px;
    background-size: 2000%;
   
}
.redesocial .imgRedesocial-1{background-position: 833px 838px;}
.redesocial .imgRedesocial-2{background-position: 897px 838px;}
.redesocial .imgRedesocial-3{background-position: 960px 840px;}